# Secrets
.env

# Chroma database
chroma_db/
chromadb_store/

# Raw extracted text
data/*
!data/mzu_raw.txt


# PDF source documents
mzu_docs/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/
